/*
* DEFINICOES GERAIS
*/
*{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
}
body, img, dl, dt, dd, h1, h2, h3, h4, h5, h6{
	padding:0px;
	margin:0px;
	border:none;
}
*.NoPrint{
	display:none;
}
p{
	text-indent:3em;
}

/**
 * TITULOS
 */
h1, h2, h3, h4, h5, h6,
h1 *, h2 *, h3 *, h4 *, h5 *, h6 *{
	color:#333;
	font-weight:bold;
}
h1, h1 *{
	font-size:20px;
}
h2, h2 *{
	font-size:18px;
}
h3, h3 *{
	font-size:17px;
}
h4, h4 *{
	font-size:16px;
}
h5, h5 *{
	font-size:15px;
}
h6, h6 *{
	font-size:14px;
}

#Header *{
	color:#000;
}
#Header #LogoRepublica{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#Header #LogoRepublica img{
	width:80px;
}
#Header .MEC{
	padding-top:10px;
	text-align:center;
	width:100%;
}
#Header .MEC h1{
}
#Header .MEC h1 a{
	font-weight:bold;
	font-size:17px;
}
#Header .MEC h1 a strong{
	padding:5px;
	font-weight:bold;
	font-size:17px;
}
#Header .INEP{
	float:right;
	text-align:center;
	width:100%;
	padding-bottom:30px;
}
#Header .INEP h2{
}
#Header .INEP h2 a{
	padding:5px;
	font-weight:bold;
	font-size:17px;
}
#Header .INEP h2 a strong{
	font-weight:bold;
	font-size:17px;
}



#ContentHolder{
	clear:both;
}
